<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FortiScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FortiScheduler.Properties.Settings>
            <setting name="firstOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastIP" serializeAs="String">
                <value />
            </setting>
            <setting name="lastAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="lastOpened" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionSettingsLocked" serializeAs="String">
                <value>False</value>
            </setting>
        </FortiScheduler.Properties.Settings>
    </applicationSettings>
</configuration>